.selecFilter{
    color: #fff;
    text-align:start;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content article{
    background: rgb(214, 214, 214);
    width: 65%;
    box-shadow: 0px 0px 102px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 102px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 102px 0px rgba(0,0,0,0.75);
}

.content article ul{
    padding: 5% 10%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    justify-items: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.content article ul a{
    height: auto;
}
.content article ul li{
    display: inline-block;
    width: 150px;
    margin: 0;
    background: #fff;
    padding: 10px;
}

.content article ul li img{
    width: 130px;
    min-width: 130px;
    height: 190px;
    min-height: 190px;
    object-fit:cover;
}

.content article ul li .textanime{
    display: block;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.content article ul li .textanime .animetitle{
    font-size: 13px;
    font-weight: 700;
}

.content article ul li .textanime .lauching{
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
}

.content article ul li .textanime .starScore{color: rgb(255, 208, 0);}

@media screen and (max-width: 596px){
    .content article ul li img{
        width: 110px;
        min-width: 110px;
        height: 170px;
        min-height: 170px;
    }
    .content article ul li{
        margin: 0 0 1rem 0;
        width: 130px;
    }
    .content article ul{
        padding: 5% 5%;
        grid-gap: 0px;
    }
    .content article ul li .textanime .animetitleRecord{color: aqua;}
}

@media screen and (max-width: 290px){
    .content article{width: 85%;}
    .content article ul li{width: 120px;}
    .content article ul li img{
        width: 100px;
        min-width: 100px;
        height: 160px;
        min-height: 160px;
    }
    .content article ul li .textanime .animetitle,.content article ul li .textanime .score{font-size: 11px;}
    .content article ul{padding: 5% 0;}
}